$color-black: #3b4257;
$color-white: #fff;
$color-border: #ccd1dd;

.input {
  padding: 12px 20px;
  margin: 0;
  width: 240px;
  background: $color-white;
  border: 0;
  border-radius: 3rem;
  font-size: 14px;
  box-shadow: 0 0 13px 0 rgba($color-black, 0.14);
  outline: 0;
  appearance: none;
  resize: vertical;

  &::placeholder {
    color: $color-border;
    opacity: 1;
  }
}
