$color-black: #3b4257;
$color-white: #fff;
$color-border: #ccd1dd;
$red: #ff2d55;
$orange: #ff4500;

.button {
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 30px;
  color: $color-white;
  font-family: inherit;
  text-decoration: none;
  margin: 0;
  font-size: 15px;
  padding: 12px 26px;
  box-shadow: 1px 4px 13px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
}
.button:focus {
  outline: 0;
}
.button:enabled {
  cursor: pointer;
}

.type-normal {
  background-image: linear-gradient(to right, $red, $orange);

  &.interactive:hover {
    background-color: linear-gradient(
      to right,
      darken($red, 15%),
      darken($orange, 15%)
    );
  }
  &.disabled {
    cursor: not-allowed;
    background-color: $color-white;
    box-shadow: none;
    opacity: 0.5;
  }
}
