@import url("https://fonts.googleapis.com/css?family=Roboto");
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0 auto;
  line-height: 1.5;
  font-size: 14px;
  overflow-y: scroll;
  overflow-x: hidden;
  background: #f8f8f8;
  font-family: "Roboto", sans-serif;
}

a {
  color: inherit;
  text-decoration: inherit;
}
